ErrorDocument 404 /404html.html
//this is really weird, it should work like this
//idk maybe the glitch servers
//Have you tried using a nodejs server instead?
//no
//you could try using a nodejs server since i keep reading server online
//hmm k
//thank you for your help!
//i gave you a thank
//if you need more info try looking up this: https://support.glitch.com/t/a-way-to-make-custom-404-page-for-glitch-website-applications/5260
//k